.nav{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--page-x-padding);
}

.nav__link{
  margin-left: auto;
}

*{
  box-sizing: border-box;
}

:root{
  --page-width: 1160px;
  --page-x-padding: 0;
}

.App{
  max-width: var(--page-width);
  margin: auto;
}

@media screen and (max-width: 1176px) {
  :root {
    --page-x-padding: 16px;
  }
}